#top-nav {

    .user-info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-bottom: solid 1px #e6e6e6;
    }

    a {
        text-decoration: none !important;
    }

    .el-avatar {
        background-color: #409EFF;
    }
}